@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

h1, p {
	font-family: 'Rubik', sans-serif;
}

body {
	margin: 0;
}

#layout {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: 120px 1fr 90px;
	grid-column-gap: 5px;
	grid-row-gap: 5px;

	min-height: 100vh;
}

main .title { grid-area: 1 / 1 / 2 / 3; }
.code { grid-area: 2 / 1 / 3 / 2; }
.frame { grid-area: 2 / 2 / 3 / 3; }
footer { grid-area: 3 / 1 / 4 / 3; }

#editor {
	box-sizing: border-box;
	height: calc(100% - 51px);
	border: 1px solid black;
	border-radius: 2px;
}

main .title {
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: center;
	
	background-color: rgb(79, 232, 94);
}
main .title h1 {
	font-size: 36pt;
	margin: 10px;
	text-align: center;
}

iframe {
	box-sizing: border-box;
	border: 1px solid black;
	border-radius: 2px;
	width: 100%;
	height: calc(100% - 51px);
}

footer {
	display: flex;
	background-color: lightgray;
	padding: 10px;
	align-items: center;
}

.links {
	margin-left: 15px;
	border-left: 1px rgb(84, 84, 84) dotted;
}

.links a {
	display: inline-block;
	border-radius: 5px;
	/* height: 48px; */
	padding: 3px;
	margin: 5px;
}

.links a:hover {
	background-color: rgba(0, 0, 0, 0.1);
}

@media only screen and (max-width: 650px) {
	#layout {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 120px repeat(2, 1fr) 90px;
		grid-column-gap: 5px;
		grid-row-gap: 5px;
	}
	
	main .title { grid-area: 1 / 1 / 2 / 2; }
	.code { grid-area: 2 / 1 / 3 / 2; }
	.frame { grid-area: 3 / 1 / 4 / 2; }
	footer { grid-area: 4 / 1 / 5 / 2; }
}